@use "global" as *;

.page-blog__main{
  @include mq("md") {
  display: grid;
  gap: rem(80);
  grid-template-columns: 706fr 294fr;
  }
}

.page-blog__sidebar.sidebar{
  display: none;
  @include mq("md"){
    display: grid;
  }
}