@use "global" as *;

.blog-page__main{
  @include mq("md") {
  display: grid;
  gap: rem(80);
  grid-template-columns: 706fr 294fr;
  }
}

.blog-page__sidebar{
  display: none;
  @include mq("md"){
    display: grid;
  }
}