@use "global" as *;

.button {
  position: relative;
  display: inline-block;
  padding: rem(15) 0;
  background: $ac-color;
  transition: color 0.8s cubic-bezier(0.45, 0, 0.55, 1);
  box-sizing: border-box;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $ac-color;
  background: $white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 0.8s cubic-bezier(0.45, 0, 0.55, 1);
}

.button:hover::before {
  transform: scale(1, 1);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(4px, 4px);
  border: 1px solid $ac-color;
  background: $white;
  z-index: -1;
}

.button__link {
  position: relative;
  height: inherit;
  padding-left: rem(40);
  padding-right: rem(88);
  text-align: center;
  font-size: rem(14);
  font-family: $en-font-family;
  line-height: 1;
  color: $white;
}

.button__link::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 42px;
  top: 50%;
  transform: translateY(-40%) rotate(45deg);
  border-top: 1px solid #fff;
}

.button__link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  right: 40px;
  top: 54%;
  transform: translateY(-40%);
  background: $white;
}

.button__link:hover{
  color: $ac-color;
}

.button__link:hover::before{
  border-top: 1px solid $ac-color;
}

.button__link:hover::after{
  background: $ac-color;
}
