@use "global" as *;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(15) 0;
  gap: rem(8);
  background: $ac-color;
  transition: color 0.8s cubic-bezier(0.45, 0, 0.55, 1);
  box-sizing: border-box;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $ac-color;
  background: $white;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 0.8s cubic-bezier(0.45, 0, 0.55, 1);
}

.button:hover::before {
  transform: scale(1, 1);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(4px, 4px);
  border: 1px solid $ac-color;
  background: $white;
  z-index: -1;
}

.button__link {
  height: inherit;
  padding: 0 rem(40);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(14);
  font-family: $en-font-family;
  line-height: 1;
  color: $white;
  z-index: 1
}

.button__link span {
  content: "";
  position: relative;
  width: 40px;
  height: 1px;
  margin-left: rem(8);
  border-radius: 9999px;
  background: $white;
}

.button__link span::before {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 10px;
  height: 1px;
  border-radius: 9999px;
  rotate: 45deg;
  transform-origin: calc(100% - 2px) 50%;
  background: $white;
  margin-left: rem(8);
}

.button__link:hover {
  color: $ac-color;
}

.button__link:hover span,
.button__link:hover span::before {
  background: $ac-color;
}

