@use "global" as *;

.card-3 {
  padding: rem(15) rem(16) rem(24);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  @include mq(md) {
    padding: rem(24);
  }
}

.card-3__header {
  display: flex;
  gap: rem(13);
  align-items: end;
}

.card-3__text-block {
  width: 49%;
  @include mq(md){
    width: 61%;
  }
}

.card-3__meta {
  font-size: rem(12);
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.card-3__category {
  display: inline-block;
  padding: rem(4) rem(12);
  font-size: rem(12);
  line-height: calc(22 / 12);
  color: $ac-color;
  border: 1px solid $ac-color;
  @include mq(md) {
    padding: rem(6) rem(16);
  }
}

.card-3__title {
  margin-top: rem(4);
  padding-bottom: rem(4);
  border-bottom: 1px solid $ac-color;
  font-size: rem(16);
  font-weight: $medium;
  @include mq(md) {
    margin-top: rem(8);
    padding-bottom: rem(16);
    font-size: rem(24);
  }
}

.card-3__image {
  width: 51%;
  aspect-ratio: 151 / 117;
  @include mq(md) {
   width: 39%;
  }
}

.card-3__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-3__text {
  margin-top: rem(16);
  font-size: rem(16);
  @include mq(md) {
    margin-top: rem(40);
  }
}
