@use "global" as *;

.card-2 {
  padding: rem(16) rem(16) rem(24);
  background: $white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.card-2__image {
  aspect-ratio: 301 / 201;
}

.card-2__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-2__body {
  margin-top: rem(17);
}

.card-2__date {
  font-size: rem(12);
  font-family: $en-font-family;
}

.card-2__title {
  position: relative;
  padding-bottom: rem(4);
  font-size: rem(16);
  font-weight: $medium;
}

.card-2__title::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.card-2__text {
  margin-top: rem(16);
  font-size: rem(16);
}
