@use "global" as *;

.contact {
  @include mq(md) {
  }
}

.contact__embellishment {
  position: relative;
}

.contact__embellishment::before {
  content: "";
  position: absolute;
  top: rem(-26);
  right: rem(15);
  width: rem(109);
  height: rem(50);
  background-image: url(../images/common/embellishment_5.png);
  background-repeat: no-repeat;
  background-size: contain;
  @include mq(md) {
    top: rem(-40);
    right: rem(25);
    width: rem(301);
    height: rem(138);
  }
}

.contact__box {
  padding: 0 rem(25);
  display: flex;
  flex-direction: column;
  gap: rem(41);
  align-items: center;
  @include mq(md) {
    position: relative;
    padding: rem(80) rem(112) rem(80) rem(50);
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.contact__box::before {
  // 両端が丸い真ん中の線
  @include mq(md) {
    content: "";
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: calc(100% - rem(160));
    background: $ac-color;
    border-radius: 1px;
  }
  @media (max-width: 1400px) {
    // 画面幅が狭くなると線の位置が右に寄り過ぎるのを調整
    left: 50%;
  }
}

.contact__company-overview {
  @include mq(md) {
    // width: 47.9%;
  }
}

.contact__block {
  @include mq(md) {
    // width: 34.4%;
  }
}

.contact__header {
  text-align: center;
}

.contact__text {
  margin-top: rem(7);
  text-align: center;
  font-size: rem(14);
  color: $ac-color;
}

.contact__button {
  margin-top: rem(38);
  text-align: center;
  transform: translateX(rem(-2));
}
