@use "global" as *;

.contact {
  @include mq(md) {
  }
}

.contact__box {
  padding: 0 rem(25);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  align-items: center;
  @include mq(md) {
    padding: rem(80) rem(112) rem(80) rem(50);
    flex-direction: row;
    justify-content: space-between;
    gap: rem(163);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.contact__company-overview {
  @include mq(md) {
    // width: 47.9%;
  }
}

.contact__block {
  @include mq(md) {
    // width: 34.4%;
  }
}

.contact__header {
  text-align: center;
}

.contact__text {
  margin-top: rem(8);
  text-align: center;
  font-size: rem(14);
  color: $ac-color;
}

.contact__button {
  margin-top: rem(40);
  text-align: center;
}
