@use "global" as *;

.footer-nav {
  display: flex;
  font-size: rem(16);
}

.footer-nav__left,
.footer-nav__right {
  margin-top: rem(40);
  width: 50%;
  @include mq(md) {
    display: flex;
  }
}

.footer-nav__left {
  padding-left: rem(24);
}

.footer-nav__right {
  padding-left: rem(34);
}

.footer-nav__block {
  @include mq(md){
  width: 50%;}
}

.footer-nav__items {
  margin-top: rem(16);
  display: flex;
  flex-direction: column;
}

.footer-nav__items:first-child {
  margin-top: 0;
}

.footer-nav__item:first-child {
  position: relative;
  font-weight: $bold;
}

.footer-nav__item:first-child::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: rem(-22);
  transform: translateY(-50%);
  width: rem(18);
  height: rem(18);
  background-image: url(../images/common/nav.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-nav__item a {
  display: flex;
  align-items: center;
  padding: rem(12) 0;
}
