@use "global" as *;

.header {
  height: rem(80);
  background: rgba(13, 41, 54, 0.68);
  z-index: 1000;
  position: fixed;
  width: 100%;
  // display: none;
  @include mq(md) {
    height: rem(90);
  }
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  @include mq(md) {
    padding: 0 rem(40);
  }
}

.header__logo {
  transform: translate(rem(-3),rem(3));
  max-width: rem(108);
  width: 100%;
  height: inherit;
  z-index: 100;
  @include mq(md) {
    max-width: rem(140);
  }
}

.header__logolink {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__drawer {
  margin-left: auto;
  @include mq(md) {
    display: none;
  }
}

.header__pc-nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: block;
  }
}
