@use "global" as *;

.information {
  padding: rem(80) 0;
  background: $bg-color;
  @include mq(md) {
    padding: rem(100) 0;
  }
}

.information__body {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    @include mq(md){
      flex-direction: row;
      gap: rem(48);
    }
}

.information__image{
  aspect-ratio: 345 / 227;
  @include mq(md){
  }
}

.information__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

