@use "global" as *;

.information {
  position: relative;
  padding: rem(80) 0;
  background: $bg-color;
  z-index: -2;
  @include mq(md) {
    padding: rem(100) 0;
  }
}
.information__header {
  text-align: center;
}

.information__body {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(24);
  @include mq(md) {
    margin-top: rem(40);
    flex-direction: row;
    align-items: center;
    gap: rem(48);
  }
}

.information__image {
  aspect-ratio: 345 / 227;
  position: relative;
  overflow: scroll; //アニメーションを綺麗にする
  @include mq(md) {
    width: 50%;
  }
}

.information__image .color{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background:$ac-color;
}

.information__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information__content {
  @include mq(md) {
    width: calc(50% - rem(48));
  }
}

.information__title {
  position: relative;
  padding: rem(4);
  font-size: rem(20);
  font-weight: $bold;
  @include mq(md) {
    padding: rem(8);
    font-size: rem(24);
  }
}

.information__title::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.information__text {
  margin-top: rem(8);
  font-size: rem(16);
}

.information__button {
  margin-top: rem(40);
  text-align: center;
}
