@use "global" as *;

.legal__title {
  position: relative;
  font-size: rem(24);
  font-weight: $medium;
  z-index: 1;
  @include mq("md"){
   font-size: rem(32);
  }
}

.legal__lead,
.legal__text{
  margin-top: rem(42);
  line-height: 2;
  @include mq("md"){
  margin-top: rem(46);
  }
}

.legal__body,
.legal__text,
.legal__footer{
  margin-top: rem(32);
  line-height: 2;
}

.legal__text.legal__text--numbered {
  margin-top: 0;
  padding-left: rem(23);
  text-indent: -1em;
}

.legal__text.legal__text--tight{
  margin-top: 0;
}

.legal__text--numbered.legal__text--spaced{
  margin-top: rem(44);
  line-height: 2;
  @include mq("md"){
    margin-top: rem(46);
  }
}