@use "global" as *;

.legal__title {
  font-size: rem(24);
  font-weight: $medium;
  @include mq("md"){
   font-size: rem(32);
  }
}

.legal__lead,
.legal__body,
.legal__text,
.legal__footer{
  margin-top: rem(44);
  line-height: 2;
  @include mq("md"){
    margin-top: rem(46);
  }
}

.legal__text.legal__text--numbered {
  margin-top: 0;
  padding-left: 1em;
  text-indent: -1em;
}
