@use "global" as *;

.list-1__title {
  position: relative;
  padding-bottom: rem(5);
  font-size: rem(16);
  font-weight: $bold;
}

.list-1__title::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.list-1__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}

.list-1__item dt {
  margin-top: rem(10);
  width: 81%;
  @include mq(md){
    margin-top: rem(7);
  }
}

.list-1__item dd {
  margin-top: rem(10);
  width: 19%;
  text-align: right;
  @include mq(md){
    margin-top: rem(7);
  }
}
