@use "global" as *;

.loading {
  display: none;
  @include mq(md) {
    display: block;
    position: relative;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    background: $white;
    animation: loadingFadeOut 12s ease forwards;
  }
}

.loading__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  color: $ac-color;
  animation: fadeInOut 6s ease-out forwards;
}

.loading__title {
  font-size: rem(80);
  font-family: "Lato", serif;
  font-weight: $regular;
  line-height: 1.2;
  letter-spacing: 0.53em;
  transform: translate(rem(21), rem(2));
}

.loading__subtitle {
  margin-top: rem(5);
  font-size: rem(20);
  font-family: $en-font-family;
}

.loading__mask {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 1;
}

.loading__img {
  aspect-ratio: 720 / 768;
  width: 50%;
  height: 100vh;
  opacity: 0;
}

.loading__img-left {
  object-fit: cover;
  object-position: right;
  animation: fadeUpLeft 4s 3s forwards;
}

.loading__img-right {
  object-fit: cover;
  object-position: left;
  animation: fadeUpRight 4s 3.5s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeUpLeft {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUpRight {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes loadingFadeOut{
  0% {
    opacity: 0;
  }
  5%{
    opacity:1;
  }
  90%{
    opacity: 1;
  }
  100%{
   opacity: 0; 
   display: none;
  }
}

.loading-end .header,
.loading-end .mv,
.loading-end .campaign,
.loading-end .about,
.loading-end .information,
.loading-end .blog,
.loading-end .voice,
.loading-end .price,
.loading-end .contact,
.loading-end .to-top,
.loading-end .footer
{
display: block;
transition: opacity 1s ease;
}