@use "global" as *;

.loading {
  display: none;
  @include mq(md) {
    display: block;
    position: relative;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: opacity 2s ease-in-out, visibility 2s;
    background: $white;
  }
}

.loading.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.loading__header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
  color: $ac-color;
}

.loading__title {
  font-size: rem(80);
  font-family: "Lato", serif;
  font-weight: $regular;
  line-height: 1.2;
  letter-spacing: 0.53em;
  transform: translate(rem(21), rem(2));
}

.loading__subtitle {
  margin-top: rem(5);
  font-size: rem(20);
  font-family: $en-font-family;
}

.loading__mask {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 1;
  transition: opacity 3s ease-in-out, visibility 3s;
}

/* マスクを非表示にする（フェードアウト） */
.loading__mask.is-hidden {
  opacity: 0;
  visibility: hidden;
}

/* 画像の基本スタイル */
.loading__img {
  aspect-ratio: 720 / 768;
  width: 50%;
  height: 100vh;
  opacity: 0;
  transition: opacity 3s ease-out;
}

.loading__img-left {
  object-fit: cover;
  object-position: right;
}

.loading__img-right {
  object-fit: cover;
  object-position: left;
}

.loading__img-left--fadeUp1 {
  animation: fadeUpAnime1 4s forwards;
}

.loading__img-right--fadeUp2 {
  animation: fadeUpAnime2 3.5s 0.5s forwards;
}

@keyframes fadeUpAnime1 {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUpAnime2 {
  0% {
    opacity: 0;
    transform: translateY(50vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
