@use "global" as *;

.price {
  padding: rem(80) 0;
  background: $bg-color;
  @include mq(md) {
    padding: rem(100) 0;
  }
}

.price__header {
  text-align: center;
}

.price__body {
  margin-top: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    margin-top: rem(40);
    flex-direction: row-reverse;
    gap: rem(93);
  }
}

.price__image {
  aspect-ratio: 345 /227;
  max-width: rem(345);
  width: 100%;
  @include mq(md) {
    aspect-ratio: 746 /492;
    max-width: rem(492);
    height: calc(746 / 1440 * 100vw);
  }
}

.price__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__lists {
  @include mq(md) {
    max-width: rem(492);
    width: 100%;
  }
}

.price__list {
  margin-top: rem(40);
}

.price__list:first-child {
  margin-top: 0;
}

.price__list-title {
  position: relative;
  padding-bottom: rem(4);
  font-size: rem(16);
  font-weight: $bold;
}

.price__list-title::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.price__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}

.price__list-item dt {
  margin-top: rem(8);
  width: 80%;
}

.price__list-item dd {
  margin-top: rem(8);
  width: 20%;
  text-align: right;
}

.price__button{
  margin-top: rem(40);
  text-align: center;
  @include mq(md){
    margin-top: rem(80);
  }
}