@use "global" as *;

.price {
  padding: rem(80) 0;
  background: $bg-color;
  @include mq(md) {
    padding-top: rem(96);
    padding-bottom: rem(100);
  }
}

.price__embellishment {
  position: relative;
}

.price__embellishment::before {
  @include mq(md) {
    content: "";
    position: absolute;
    left: rem(75);
    bottom: rem(-40);
    width: rem(437);
    height: rem(201);
    background-image: url(../images/common/embellishment_5.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.price__header {
  text-align: center;
}

.price__body {
  margin-top: rem(27);
  display: flex;
  flex-direction: column;
  gap: rem(40);
  @include mq(md) {
    margin-top: rem(39);
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: rem(93);
  }
}

.price__image {
  position: relative;
  aspect-ratio: 345 /227;
  @include mq(md) {
    aspect-ratio: 746 /492;
    max-width: rem(492);
    width: 100%;
    height: calc(746 / 1440 * 100vw);
  }
}

.price__image .color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: $ac-color;
}

.price__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__lists {
  @include mq(md) {
    max-width: rem(494);
    width: 100%;
  }
}

.price__list:not(:first-child) {
  margin-top: rem(42);
}

.price__list-title {
  position: relative;
  padding-bottom: rem(5);
  font-size: rem(16);
  font-weight: $bold;
}

.price__list-title::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.price__list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}

.price__list-item dt {
  margin-top: rem(7);
  width: 81%;
}

.price__list-item dd {
  margin-top: rem(7);
  width: 19%;
  text-align: right;
}

.price__button {
  margin-top: rem(44);
  text-align: center;
  transform: translateX(rem(-2));
  @include mq(md) {
    margin-top: rem(80);
  }
}
